:root {
    --color-dark: #1a1717;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    width: 100vw; 
    height: 10000px;  

}
header{
    background-color:var(--color-dark);
    width: 100vw;
    height: 100px;

}

